{% extends "core/base.html" %} {% load static %} {% block content %}
<br />
<br />
<br />
<br />
<br />
<br />

<div class="container">
	<div class="row">
		<div class="col-8">
			<h1 class="mb-5"><strong> Stalk the Stock</strong></h1>
			<p style="color: #2a4d79; font-size: 1.5rem">
				The stock market always had a large amount of data which meant a lot of
				work for the investors to go through before their decision to choose
				which stock to invest in. The entire process of investing is very slow
				due to the absence of any visualization schemes. In current scenario
				there is no platform to view and visualize the current market.
			</p>
		</div>
		<div class="col-4">
			<img src="{% static 'core/heading.svg' %}" alt="heading" srcset="" />
		</div>
	</div>
</div>

{% endblock %}
